body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button { 
    padding: 14px 28px;
}

.calculator {
    position: absolute;
    margin-top: 200px;
    margin-left: 800px;
    text-align: center;
}